body {
  margin: 0 0 0 0;
  display: flex;
  background-color: #001327;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  font-family: "Roboto", serif;
  margin-top: 10px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.navbar {
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin: auto;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.navbar a:hover {
  border-bottom: white 2px solid;
  padding: 5px 5px 5px 5px;
  font-size: 22px;
  color: #78cbfb;
  transition: 0.3s ease all 0.05s;
}
.wrapper {
  width: 1200px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.wrapper .content {
  display: flex;
  align-items: center;
  gap: 100px;
  font-family: "ABeeZee", serif;
}
.wrapper .content__wrapper {
  width: 50%;
}
.wrapper .img img {
  width: 350px;
  height: 350px;
  border: 2px solid white;
  transition: all 0.2s ease;
}
.wrapper .img {
  width: 250px;
  height: 250px;
}
.wrapper .img img:hover{
  border-radius: 50px;
  transition: 0.3s;
}
.wrapper .content .text__wrapper {
  width: 500px;
}
.wrapper .text__wrapper .title {
  margin-bottom: 25px;
}
.wrapper .content{
  border: #67649e 2px solid;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  transition: all 0.2s ease;
}
.wrapper .content:hover{
  background: #001a36;
}